@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.verse-play-red {
  animation: verse-play-red 1.2s ease-out infinite;
}

.stroke-primary {
  stroke: theme('colors.primary.DEFAULT');
}

.stroke-secondary {
  stroke: theme('colors.secondary.DEFAULT');
}

.stroke-oxford-blue {
  stroke: theme('colors.oxford-blue.DEFAULT');
}


@keyframes verse-play-red {
  from {
    box-shadow: 0px 0px 0px 0px theme('colors.gray.300');
  }
  to {
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0);
  }
}

.verse-play-green {
  animation: verse-play-green 1.2s ease-out infinite;
}

@keyframes verse-play-green {
  from {
    box-shadow: 0px 0px 0px 0px theme('colors.gray.300');
  }
  to {
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0);
  }
}
